<div class="container">
  <div class="box col-10">
    <h2 class="make-it-green">Start A New Channel</h2>
    <br/>
    <%= simple_form_for @channel, url: channels_path do |f| %>
      <%= f.input :name %>
      <br />
      <%= f.input :description %>
      <%= f.submit 'Start', class: 'btn btn-primary make-it-green' %>
    <% end %>
  </div>
</div>
