<div class="page-content make-it-green">
  <h1>Channel's show page</h1>

  <br/><br/>

  <h4><%= @channel.name %></h4>
  <br/>
  <h5><%= @channel.description %></h5>

  <% if current_user && current_user == @channel.user %>
    <br/><br/>
    <%= link_to "Add A Video", new_channel_post_path(@channel), class: "btn btn-primary make-it-green" %>
  <% end %>

  <br/><br/>

  <% for post in @posts %>
    <h4>
      <%= link_to post.title, channel_post_path(@channel, post), class: "make-it-green" %>
    </h4>
    <br/><br/>
  <% end %>

</div>
